/**
 *  
 */
/**
 * 
 */
/* for those unsupport the toggle style: ie9- */
label.toggle div.toggle {
  display: inline;
}
/* only for the browsers support media query */
@media only screen {
  label.toggle div.toggle {
    height: 30px;
    width: 100px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0px 10px;
  }
  label.toggle div.toggle:before,
  label.toggle div.toggle:after {
    height: 30px;
    line-height: 30px;
  }
  label.toggle div.toggle:before {
    content: "ON";
    float: left;
    margin-left: 14px;
  }
  label.toggle div.toggle:after {
    content: "OFF";
    float: right;
    margin-top: -30px;
    margin-right: 11px;
  }
  label.toggle div.toggle > i {
    display: block;
    height: 26px;
    margin: 1px;
    width: 49px;
    margin-left: 48px;
    -webkit-animation: labelOff 0.2s ease-in 1;
    -moz-animation: labelOff 0.2s ease-in 1;
    -ms-animation: labelOff 0.2s ease-in 1;
    -o-animation: labelOff 0.2s ease-in 1;
    animation: labelOff 0.2s ease-in 1;
  }
  label.toggle > span {
    height: 32px;
    line-height: 32px;
    vertical-align: top;
  }
  label.toggle > input[type="checkbox"] {
    display: none;
  }
  label.toggle > input[type="checkbox"]:checked + div > i {
    margin-left: 0px;
    -webkit-animation: labelOn 0.2s ease-in 1;
    -moz-animation: labelOn 0.2s ease-in 1;
    -ms-animation: labelOn 0.2s ease-in 1;
    -o-animation: labelOn 0.2s ease-in 1;
    animation: labelOn 0.2s ease-in 1;
  }
  label.toggle > input[type="checkbox"]:checked + div:before {
    color: #fff;
  }
  @-webkit-keyframes labelOn {
    from {
      margin-left: 49px;
    }
    to {
      margin-left: 0;
    }
  }
  @-moz-keyframes labelOn {
    from {
      margin-left: 49px;
    }
    to {
      margin-left: 0;
    }
  }
  @-ms-keyframes labelOn {
    from {
      margin-left: 49px;
    }
    to {
      margin-left: 0;
    }
  }
  @-o-keyframes labelOn {
    from {
      margin-left: 49px;
    }
    to {
      margin-left: 0;
    }
  }
  @keyframes labelOn {
    from {
      margin-left: 49px;
    }
    to {
      margin-left: 0;
    }
  }
  @-webkit-keyframes labelOff {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 49px;
    }
  }
  @-moz-keyframes labelOff {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 49px;
    }
  }
  @-ms-keyframes labelOff {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 49px;
    }
  }
  @-o-keyframes labelOff {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 49px;
    }
  }
  @keyframes labelOff {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 49px;
    }
  }
  label.toggle.ios div.toggle {
    border: 1px solid #EFEFEF;
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), color-stop(50%, #efefef), color-stop(50%, #f9f9f9), to(#fefefe));
    background-image: -webkit-linear-gradient(#cfcfcf, #efefef 50%, #f9f9f9 50%, #fefefe);
    background-image: -moz-linear-gradient(top, #cfcfcf, #efefef 50%, #f9f9f9 50%, #fefefe);
    background-image: -ms-linear-gradient(#cfcfcf, #efefef 50%, #f9f9f9 50%, #fefefe);
    background-image: -o-linear-gradient(#cfcfcf, #efefef 50%, #f9f9f9 50%, #fefefe);
    background-image: linear-gradient(#cfcfcf, #efefef 50%, #f9f9f9 50%, #fefefe);
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px #b6b6b6 inset, 3px 0 3px #b6b6b6 inset;
    -moz-box-shadow: 0 2px 2px #b6b6b6 inset, 3px 0 3px #b6b6b6 inset;
    box-shadow: 0 2px 2px #b6b6b6 inset, 3px 0 3px #b6b6b6 inset;
    color: #7F7F7F;
    font-weight: bold;
  }
  label.toggle.ios div.toggle > i {
    border: 1px solid #919191;
    background-color: #dfdfdf;
    background-image: -moz-linear-gradient(top, #cdcdcd, #fbfbfb);
    background-image: -ms-linear-gradient(top, #cdcdcd, #fbfbfb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cdcdcd), to(#fbfbfb));
    background-image: -webkit-linear-gradient(top, #cdcdcd, #fbfbfb);
    background-image: -o-linear-gradient(top, #cdcdcd, #fbfbfb);
    background-image: linear-gradient(top, #cdcdcd, #fbfbfb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcdcd', endColorstr='#fbfbfb', GradientType=0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #f0f0f0 inset;
    -moz-box-shadow: 0 1px 0 #f0f0f0 inset;
    box-shadow: 0 1px 0 #f0f0f0 inset;
  }
  label.toggle.ios > input[type="checkbox"]:checked + div > i {
    background-color: #4b8def;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3672dc), color-stop(50%, #4085ec), color-stop(50%, #4d8fef), to(#76adfc));
    background-image: -webkit-linear-gradient(#3672dc, #4085ec 50%, #4d8fef 50%, #76adfc);
    background-image: -moz-linear-gradient(top, #3672dc, #4085ec 50%, #4d8fef 50%, #76adfc);
    background-image: -ms-linear-gradient(#3672dc, #4085ec 50%, #4d8fef 50%, #76adfc);
    background-image: -o-linear-gradient(#3672dc, #4085ec 50%, #4d8fef 50%, #76adfc);
    background-image: linear-gradient(#3672dc, #4085ec 50%, #4d8fef 50%, #76adfc);
    background-repeat: no-repeat;
    border: 1px solid #1654B5;
    -webkit-box-shadow: 0 1px 0 #f0f0f0 inset;
    -moz-box-shadow: 0 1px 0 #f0f0f0 inset;
    box-shadow: 0 1px 0 #f0f0f0 inset;
  }
  label.toggle.android div.toggle {
    border: 2px solid #B6B6B6;
    background-color: #B6B6B6;
    color: #FFF;
  }
  label.toggle.android div.toggle > i {
    border: 1px solid #848484;
    background-color: #848484;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  label.toggle.android > input[type="checkbox"]:checked + div > i {
    border: 1px solid #279FCA;
    background-color: #279FCA;
  }
}
body {
  font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.form-sign {
  max-width: 300px;
  background: #fff;
  margin: 0 auto 20px;
  padding: 19px 29px 29px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.btn-login {
  width: 120px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.checkbox.checkbox-remember {
  padding-top: 28px;
}
.user-info {
  padding: 10px 19px;
  width: 350px;
}
.user-info .user-avatar {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 19px;
  vertical-align: top;
}
.user-info .user-text-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 200px;
  margin-right: 30px;
}
.sidebar {
  background: #f5f5f5;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.sidebar .nav-list {
  padding: 0px;
}
.sidebar li.nav-header {
  font-size: 14px;
  margin-top: 0px;
}
.sidebar > ul > li > a,
.sidebar .nav-header {
  border-top: 1px solid #e5e5e5;
  margin: 0 0 -1px;
}
.sidebar > ul > li:first-child {
  border: 0px;
}
.sidebar > ul > li > a {
  padding-left: 25px;
}
.container-fluid.main {
  padding-right: 0px;
}
.container-fixed {
  margin-left: 0px;
}
.querybar {
  height: 42px;
}
.querybar form {
  margin-bottom: 0px;
}
.search-query-width {
  width: 126px;
}
.common-list {
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.common-list > ul {
  padding: 0px;
  margin: 0px;
  list-style: none outside none;
}
.common-list > ul > li {
  padding: 10px 10px;
  border-bottom: 1px solid #E5E5E5;
}
.common-list .list-item {
  padding: 5px 10px;
}
.table-list ul {
  padding: 0px;
  margin: 0px;
  list-style: none outside none;
}
.table-list .table-item.expand .body {
  color: #333;
}
.table-list .table-item.abnormal .head,
.table-list .table-item.abnormal .forestgreen {
  color: #A52A2A;
}
.table-list .row {
  margin-left: 0px;
}
.table-list > ul > li:hover .order-btn-abnormal {
  visibility: visible;
}
.table-list .head {
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  color: #000;
}
.table-list .link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.table-list .left-panel span {
  margin-right: 20px;
}
.table-list .left-panel span:last-child {
  margin-right: 0px;
}
.table-list .order-btn-out,
.table-list .order-btn-abnormal {
  margin-left: 10px;
}
.table-list .order-btn-abnormal {
  visibility: hidden;
}
.table-list .body {
  color: #999;
}
.table-list .body .food-collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-list .body .food-collapse .food-list {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-list .body .food-collapse .food-list span {
  margin-right: 20px;
}
.table-list .body .food-expand {
  display: none;
}
.table-list .body ul.plate-list > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #E5E5E5;
  vertical-align: top;
  width: 200px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
}
.table-list .body ul.plate-list > li ul.food-list li {
  margin-right: 20px;
}
.table-list .body ul.plate-list > li ul.food-list li span {
  float: right;
  margin-right: -20px;
}
.table-list .body ul.plate-list > li ul.food-list li .price {
  font-style: italic;
  font-size: 12px;
}
.table-list-comment {
  padding: 5px 20px;
}
.category > ul {
  padding: 0px;
  margin: 0px;
  list-style: none outside none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.category > ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0px 0px 0px;
  padding: 0px 10px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.category > ul > li label {
  margin-top: 3px;
}
.foods-area {
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
.foods-area td {
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
}
.foods-area .food-area-head {
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  padding: 0px 10px;
}
.foods-area.add-package .food-area-head {
  font-size: 15px;
  width: 50px;
}
.foods-area.add-package img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.foods-area.add-package .food-area-list label {
  position: relative;
}
.foods-area.add-package .food-area-list label input[type="checkbox"] {
  position: absolute;
  right: 1px;
  top: 60px;
}
ul.food-area-list {
  padding: 0px;
  margin: 0px;
  list-style: none outside none;
}
ul.food-area-list > li {
  float: left;
  margin: 10px 0px 10px 15px;
}
ul.food-area-list > li > img {
  height: 100px;
}
ul.food-area-list > li .food-add {
  cursor: pointer;
}
.controls-clear-right .control-group:after {
  clear: right;
}
.form-dialog {
  padding: 10px 25px;
}
.form-dialog .addfood-photo-wrapper,
.form-dialog .addfood-photo {
  width: 160px;
  height: 160px;
  cursor: pointer;
}
.form-dialog .addfood-photo-wrapper {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.form-dialog .img-tips {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  margin: -90px 30px 0px;
  cursor: pointer;
}
.form-dialog .addfood-describe textarea {
  width: 415px;
}
.control-group.control-group-small .control-label {
  width: 60px;
  float: left;
}
.control-group.control-group-small .controls {
  margin-left: 80px;
}
.control-group.control-group-mini .control-label {
  width: 30px;
  float: left;
}
.control-group.control-group-mini .controls {
  margin-left: 40px;
}
.control-group.control-group-left .control-label {
  text-align: left;
}
#dialog-add-package .food-to-add {
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: auto;
}
#dialog-add-package .food-to-add img {
  width: 80px;
  height: 80px;
}
#dialog-add-package.dialog-select-food .modal-body {
  max-height: 250px;
}
.red {
  color: red;
}
.forestgreen {
  color: #228B22;
}
.brown {
  color: #A52A2A;
}
.center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.btn-right button {
  float: right;
  margin: 0px 2px;
}
.group-list.overflow {
  overflow: auto;
}
.group-list .list-item > div {
  height: 80px;
}
.group-list .pic {
  width: 80px;
  float: left;
}
.group-list .pic > img {
  width: 80px;
  height: 80px;
}
.group-list .btns {
  float: right;
  width: 40px;
  margin-top: 20px;
}
.group-list .btns > i {
  cursor: pointer;
}
.group-list .text {
  margin-left: 100px;
  margin-right: 50px;
  overflow: auto;
}
.group-list .text .header {
  font-weight: bold;
}
.group-list .text input {
  margin-bottom: 0px;
}
.panel-bottom {
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 15px;
  overflow: auto;
  padding: 15px 20px 0px;
}
.panel-bottom .img-wapper {
  width: 80px;
  height: 80px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.panel-bottom .img-tips {
  position: absolute;
  font-size: 12px;
  margin-left: 5px;
  margin-top: -50px;
  cursor: pointer;
}
.panel-bottom .btns {
  width: 80px;
}
.panel-bottom .text {
  margin-right: 100px;
}
.alert-notify {
  position: absolute;
  top: 2px;
  left: 300px;
  height: 18px;
  line-height: 18px;
  max-width: 400px;
}
.alert-notify .alert-content {
  margin: 0px 20px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[class^="icon2-"],
[class*=" icon2-"] {
  background-image: url("../img/app-icons.png");
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
.icon2-ok {
  background-position: -220px -60px;
}
.icon2-remove {
  background-position: -260px -60px;
}
.icon2-edit {
  background-position: -460px -100px;
}
