/**
 *  
 */
/**
 * 
 */
div.ios {
  background-color: #1f6dad;
  background-image: -moz-linear-gradient(top, #14539c, #3095c7);
  background-image: -ms-linear-gradient(top, #14539c, #3095c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14539c), to(#3095c7));
  background-image: -webkit-linear-gradient(top, #14539c, #3095c7);
  background-image: -o-linear-gradient(top, #14539c, #3095c7);
  background-image: linear-gradient(top, #14539c, #3095c7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14539c', endColorstr='#3095c7', GradientType=0);
  border: 1px solid #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0px 10px;
}
div.ios:before,
div.ios:after {
  height: 30px;
  line-height: 30px;
  color: #FFF;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 1px #093b5c;
}
div.ios:before {
  content: "ON";
  float: left;
  margin-left: 9px;
}
div.ios:after {
  content: "OFF";
  float: right;
  margin-top: -30px;
  margin-right: 3.5px;
}
div.ios > input[type="checkbox"] {
  display: none;
}
div.ios > input[type="checkbox"]:checked + i {
  margin-left: 39px;
  -webkit-animation: labelOn 0.2s ease-in 1;
  -moz-animation: labelOn 0.2s ease-in 1;
  -ms-animation: labelOn 0.2s ease-in 1;
  -o-animation: labelOn 0.2s ease-in 1;
  animation: labelOn 0.2s ease-in 1;
}
div.ios > i {
  display: block;
  height: 28px;
  width: 39px;
  background-color: #c7c7c7;
  background-image: -moz-linear-gradient(top, #a1a1a1, #ffffff);
  background-image: -ms-linear-gradient(top, #a1a1a1, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a1a1a1), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #a1a1a1, #ffffff);
  background-image: -o-linear-gradient(top, #a1a1a1, #ffffff);
  background-image: linear-gradient(top, #a1a1a1, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a1a1', endColorstr='#ffffff', GradientType=0);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #244766 -1px 0px 3px;
  -moz-box-shadow: #244766 -1px 0px 3px;
  box-shadow: #244766 -1px 0px 3px;
  position: relative;
  z-index: 1;
  -webkit-animation: labelOff 0.2s ease-in 1;
  -moz-animation: labelOff 0.2s ease-in 1;
  -ms-animation: labelOff 0.2s ease-in 1;
  -o-animation: labelOff 0.2s ease-in 1;
  animation: labelOff 0.2s ease-in 1;
}
label.ios > span {
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}
@-webkit-keyframes labelOn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 39px;
  }
}
@-moz-keyframes labelOn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 39px;
  }
}
@-ms-keyframes labelOn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 39px;
  }
}
@-o-keyframes labelOn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 39px;
  }
}
@keyframes labelOn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 39px;
  }
}
@-webkit-keyframes labelOff {
  from {
    margin-left: 39px;
  }
  to {
    margin-left: 0;
  }
}
@-moz-keyframes labelOff {
  from {
    margin-left: 39px;
  }
  to {
    margin-left: 0;
  }
}
@-ms-keyframes labelOff {
  from {
    margin-left: 39px;
  }
  to {
    margin-left: 0;
  }
}
@-o-keyframes labelOff {
  from {
    margin-left: 39px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes labelOff {
  from {
    margin-left: 39px;
  }
  to {
    margin-left: 0;
  }
}
body {
  font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.form-sign {
  max-width: 300px;
  background: #fff;
  margin: 0 auto 20px;
  padding: 19px 29px 29px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.btn-login {
  width: 120px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.checkbox.checkbox-remember {
  padding-top: 28px;
}
.user-info {
  padding: 10px 19px;
  width: 350px;
}
.user-info .user-avatar {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 19px;
  vertical-align: top;
}
.user-info .user-text-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 200px;
  margin-right: 30px;
}
.sidebar {
  background: #f5f5f5;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  /*
	.nav .nav-header {
		padding: 5px;
	}*/

}
.sidebar .nav-header {
  font-size: 14px;
}
.container-fixed {
  margin-left: 0px;
}
.querybar {
  height: 42px;
}
.querybar form {
  margin-bottom: 10px;
}
.red {
  color: red;
}
