/**
 *  
 */
/**
 * 
 */body {
  font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.form-sign {
  max-width: 300px;
  background: #fff;
  margin: 0 auto 20px;
  padding: 19px 29px 29px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.btn-login {
  width: 120px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.checkbox.checkbox-remember {
  padding-top: 28px;
}
.user-info {
  padding: 10px 19px;
  width: 350px;
}
.user-info .user-avatar {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 19px;
  vertical-align: top;
}
.user-info .user-text-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 200px;
  margin-right: 30px;
}
.sidebar {
  background: #f5f5f5;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  /*
	.nav .nav-header {
		padding: 5px;
	}*/

}
.sidebar .nav-header {
  font-size: 14px;
}
.container-fixed {
  margin-left: 0px;
}
.querybar {
  height: 42px;
}
.querybar form {
  margin-bottom: 10px;
}
.red {
  color: red;
}
