/**
 *  
 */

// Core variables and mixins
// -------------------------------

@import "less/variables.less";
@import "less/mixins.less";
@import "less/components.less";


// Reset
// -------------------------------
body {
	font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}


// Login
// -------------------------------
.form-sign {
	max-width: 300px;
	background: #fff;
	margin: 0 auto 20px;
	padding: 19px 29px 29px;
	border: 1px solid #e5e5e5;
	.border-radius(5px);
	.box-shadow(0 1px 2px rgba(0,0,0,.05))
}
.btn.btn-login {
	width: 120px;
	font-family: "Microsoft Yahei", SimSun, Tahoma, Helvetica, Arial, sans-serif;
}
.checkbox.checkbox-remember {
	// height: 48px;
	padding-top: 28px;
}

// Index
// --------------------------------
.user-info {
	padding: 10px 19px;
	width: 350px;

	.user-avatar {
		display: inline-block;
		.ie7-inline-block();
		margin-right: 19px;
		vertical-align: top;
	}

	.user-text-info {
		display: inline-block;
		.ie7-inline-block();
		vertical-align: top;
		width: 200px;
		margin-right: 30px;
	}
}

.sidebar {
	background: #f5f5f5;
	border: 1px solid #E3E3E3;
	.border-radius(4px);
	.box-shadow(0 1px 1px rgba(0, 0, 0, .05) inset);

	/*
	.nav .nav-header {
		padding: 5px;
	}*/

	.nav-header {
		font-size: 14px;
	}
}

.container-fixed {
	margin-left: 0px;
}

.querybar form {
	margin-bottom: 10px;
}


// Font
.red {
	color: red;
}
