
// ios checkbox
div.ios {
	#gradient > .vertical(#14539C, #3095C7);
	border: 1px solid #555;
	.border-radius(4px);
	height: @ios_checkbox_height;
	width: @ios_checkbox_width;
	display: inline-block;
	.ie7-inline-block();
	margin: 0px @ios_checkbox_gap;

	&:before, &:after {
		height: @ios_checkbox_height;
		line-height: @ios_checkbox_height;
		color: #FFF;
		font-size: 14px;
		font-family: Helvetica,Arial,sans-serif;
		text-shadow: 0 -1px 1px #093B5C;
	}

	&:before {
		content: "ON";
		float: left;
		margin-left: (@ios_checkbox_width / 2 - 22) / 2;
	}
	&:after {
		content: "OFF";
		float: right;
		margin-top: -@ios_checkbox_height;
		margin-right: (@ios_checkbox_width / 2 - 33) / 2;
	}

	> input[type="checkbox"] {
		display: none;
		&:checked + i {
			margin-left: (@ios_checkbox_width / 2) - 1;
			.animation(labelOn .2s ease-in 1);
		}
	}

	> i {
		display: block;
		height: @ios_checkbox_height - 2;
		width: (@ios_checkbox_width - 2) / 2;
		#gradient > .vertical(#A1A1A1, #FFFFFF);
		border: 1px solid #E5E5E5;
		.border-radius(3px);
		.box-shadow(#244766 -1px 0px 3px);
		position: relative;
		z-index: 1;
		.animation(labelOff .2s ease-in 1);
	}
}

label.ios > span {
	height: @ios_checkbox_height + 2;
	line-height: @ios_checkbox_height + 2;
	vertical-align: top;
}

.labelOn() {
	from { margin-left: 0; }
	to { margin-left: (@ios_checkbox_width / 2) - 1; }
}

.labelOff() {
	from { margin-left: (@ios_checkbox_width / 2) - 1; }
	to { margin-left: 0; }
}

@-webkit-keyframes labelOn { .labelOn; }
@-moz-keyframes labelOn { .labelOn; }
@-ms-keyframes labelOn { .labelOn; }
@-o-keyframes labelOn { .labelOn; }
@keyframes labelOn { .labelOn; }

@-webkit-keyframes labelOff { .labelOff; }
@-moz-keyframes labelOff { .labelOff; }
@-ms-keyframes labelOff { .labelOff; }
@-o-keyframes labelOff { .labelOff; }
@keyframes labelOff { .labelOff; }

