<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>1000funs</display-name>
	
	<welcome-file-list>
		<welcome-file>/web/test/index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- spring的监听以及配置文件加载信息 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 上面配置的spring配置文件的路径，区分大小写 -->
		<param-value>/WEB-INF/config/spring/applicationContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<listener>
        <listener-class>com.funs.core.springmvc.ApplicationContextInitor</listener-class>
    </listener>

	<!-- spring mvc 配置 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/spring/servlet-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.ac</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<!-- 配置DWR Servlet -->
	<servlet>
		<display-name>DWR Servlet</display-name>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<!-- 配置TestServlet -->
	<servlet>
		<servlet-name>FoodTest</servlet-name>
		<servlet-class>com.funs.food.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodTest</servlet-name>
		<url-pattern>/test/food/*</url-pattern>
	</servlet-mapping>
	
	<!-- 配置TestServlet -->
	<servlet>
		<servlet-name>AddressTest</servlet-name>
		<servlet-class>com.funs.address.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressTest</servlet-name>
		<url-pattern>/test/address/*</url-pattern>
	</servlet-mapping>
	
	<!-- 配置TestServlet -->
	<servlet>
		<servlet-name>OrderTest</servlet-name>
		<servlet-class>com.funs.order.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderTest</servlet-name>
		<url-pattern>/test/order/*</url-pattern>
	</servlet-mapping>
	
</web-app>